.container {
    height: 200px;
    width: 200px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    box-sizing: border-box;
}
